.btn1, .btn2 {
  background: #71aaff;
  border: none;
  border-radius: 15px;
  padding: 8px;
  font-family: "Signika Negative", sans-serif;
}
.btn1:hover, .btn2:hover {
  opacity: 0.7;
  cursor: pointer;
}

.btn2 {
  background: none;
  border: 1px solid #71aaff;
}
.btn2:hover {
  background: #71aaff;
}

select {
  border: none;
  outline: none;
}

.searchs {
  position: relative;
}
.searchs i {
  background: #808080;
  padding: 12px;
  left: 74%;
  bottom: 0;
  cursor: pointer;
  position: absolute;
}

.back {
  background: none;
  border: none;
  padding: 0;
  margin-top: 10px;
  font-size: large;
}

.sign-up {
  display: flex;
}

.img {
  background: black;
  flex: 0.6;
  position: relative;
}
@media screen and (max-width: 576px) {
  .img {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .img {
    flex: 1;
    height: 89vh;
  }
}
.img .img-bg {
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.img-side {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 30%;
  right: 25%;
}
.img-side h2 {
  text-align: center;
}
.img-side img {
  max-width: 200px;
  border-radius: 50%;
}

.form-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .form-container {
    flex: 1;
  }
}

form {
  background-color: #ffffff;
  border-radius: 10PX;
  width: 60%;
  padding: 10px 30px;
  box-shadow: 0 0 10px #9c9898;
}
@media screen and (max-width: 992px) {
  form {
    width: 100%;
  }
}
form h5, form h1, form p {
  text-align: center;
}
form h5 {
  margin: 10px 0 20px 0;
  cursor: pointer;
}
form .btn2 {
  padding: 8px 20px;
}

input[type=text],
input[type=tel],
input[type=password],
input[type=email] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #d3cdcd;
  outline: none;
}

.names {
  display: flex;
  gap: 20px;
}

.first-name,
.last-name {
  width: 100%;
}

.email, .phone,
.password {
  margin-top: 20px;
}

hr {
  border: 1px solid black;
  margin-top: 20px;
}

.file {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  gap: 5px;
}

.select {
  display: flex;
  flex-direction: column;
}
.select select {
  width: 20%;
  border: 1px solid #d3cdcd;
  padding: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 992px) {
  .select select {
    width: 33%;
  }
}

.up {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn1, .btn2 {
  background: #71aaff;
  border: none;
  border-radius: 15px;
  padding: 8px;
  font-family: "Signika Negative", sans-serif;
}
.btn1:hover, .btn2:hover {
  opacity: 0.7;
  cursor: pointer;
}

.btn2 {
  background: none;
  border: 1px solid #71aaff;
}
.btn2:hover {
  background: #71aaff;
}

select {
  border: none;
  outline: none;
}

.searchs {
  position: relative;
}
.searchs i {
  background: #808080;
  padding: 12px;
  left: 74%;
  bottom: 0;
  cursor: pointer;
  position: absolute;
}

.back {
  background: none;
  border: none;
  padding: 0;
  margin-top: 10px;
  font-size: large;
}

nav {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  padding: 0 20px;
  top: 0;
  box-shadow: 0 0 4px #000000;
  z-index: 1;
}
@media screen and (max-width: 576px) {
  nav {
    padding: 0;
  }
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 15px;
  color: #000000;
}
nav a:hover {
  border-bottom: 4px solid #71aaff;
}
nav .nav-left {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
@media screen and (max-width: 576px) {
  nav .nav-left {
    margin-left: 15px;
  }
}
nav .nav-left ul {
  display: flex;
  list-style: none;
  margin-left: 20px;
}
@media screen and (max-width: 576px) {
  nav .nav-left ul {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  nav .nav-left ul {
    margin-left: 0;
  }
}
nav .nav-left ul a {
  margin: 0 15px 0 0;
}
nav .nav-left ul .active {
  border-bottom: 4px solid #71aaff;
}
nav .nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}
@media screen and (max-width: 576px) {
  nav .nav-right {
    margin-right: 20px;
  }
}
nav .nav-right .group-btn {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 576px) {
  nav .nav-right .group-btn {
    display: none;
  }
}
nav .nav-right i {
  display: none;
}
@media screen and (max-width: 576px) {
  nav .nav-right i {
    display: block;
    margin-left: 5px;
  }
}

.name {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

body {
  background: #e3e4e6;
  font-family: "Signika Negative", sans-serif;
  margin: 0;
  padding: 0;
}