
.all-job {
    width: 90%;
    margin: 80px auto 30px auto;
    @include responsive(md) {
        width: 85%;
        margin: 70px auto;
    }
    @include responsive(sm) {
        width: 94%;
    }
    .h3 {
        display: flex;
        h1 {
            border-radius: $border-radius;
        }
    }
    .filter-container {
        .filter {
            background: #ffffff;
            @include flex;
            justify-content: space-between;
            border-radius: $form-radius;
            padding: 10px 25px;
            margin: 20px 0;
            box-shadow: 0 0 10px #9c9898;
            @include responsive(sm) {
                padding: 10px 20px;
            }
            &-left {
                .guide, p{
                    margin: 10px 0;      
                }
                .cv {
                    display: flex;
                    gap: 20px;
                    @include responsive(sm) {
                        gap: 10px;
                    }
                }
                .benefit span {
                    margin-right: 10px;
                }
                h2 {
                    @include responsive(sm) {
                        font-weight: lighter
                    }
                }
                .guide span:nth-child(3) {
                    @include responsive(sm) {
                        display: none;
                    }
                }
            }
            &-right {
                @include flex;
                .company {
                    .more {
                        margin: 17px 0;
                    }
                }
            }
            &-img {
                margin-left: 50px;
                @include responsive(md) {
                    display: none;
                }
            }
        }
    }
}