
.job-search {
    background: #ffffff;
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: $form-radius;
    margin: 30px auto 20px auto;
    padding: 25px;
    box-shadow: 0 0 10px #9c9898;
    @include responsive(md) {
        width: 85%;
    }
    .search {
        @extend .searchs;
        i {
            left: 96%;
            padding: 12px 15px;
            @include responsive(md) {
                left: 93%;
            }
            @include responsive(sm) {
                left: 85%;
            }
        }
        input[type="search"] {
            width: 100%;
            border-radius: 5px;
            outline: none;
            padding: 11px;
        }
    }
    .choice {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        select {
            border: 1px solid #d3cdcd;
            border-radius: 10px;
            padding: 10px;
            margin-top: 4px;
        }
        .term, .salary {
            @include responsive(sm) {
                display: none;
            }
        }
    }
}



