
$breakpoint: ( 
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
);

@mixin responsive($size){
    @media screen and (max-width: map-get($breakpoint, $size)) {
        @content;
    }
}

@mixin flex{
    display: flex;
    align-items: center;
}
